[submodule "components/ESP32Servo"]
	path = components/ESP32Servo
	url = https://github.com/ShellAddicted/ESP32Servo.git
[submodule "components/libesphttpd"]
	path = components/libesphttpd
	url = https://github.com/Spritetm/libesphttpd.git
